body{
    background-image: url('https://wallpapercave.com/wp/wp2758170.gif');
    background-size: cover;
    text-align: center;
}

.centerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

/* CSS */
.button {
  background-color: orange;
  border-radius: 100px;
  box-shadow: rgba(0, 3, 1, 0.575) 0 -25px 18px -14px inset,rgba(0, 3, 1, 0.425) 0 1px 2px,rgba(0, 3, 1, 0.425) 0 2px 4px,rgba(0, 3, 1, 0.425) 0 4px 8px,rgba(0, 3, 1, 0.425) 0 8px 16px,rgba(0, 3, 1, 0.425) 0 16px 32px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  box-shadow: rgba(255, 255, 255, 0.35) 0 -25px 18px -14px inset,rgba(255, 255, 255, 0.25) 0 1px 2px,rgba(255, 255, 255, 0.25) 0 2px 4px,rgba(255, 255, 255, 0.25) 0 4px 8px,rgba(255, 255, 255, 0.25) 0 8px 16px,rgba(255, 255, 255, 0.25) 0 16px 32px;
  transform: scale(1.05);
}
