body {
    height: 100vh;
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to bottom, #036f8a, #000000);
}

h1 {
    border-radius: 20px;
    border: 2px solid purple;
    padding: 10px;
    margin-bottom: 20px;
    background: linear-gradient(to bottom, #000000, #ffffff);
}

.caja {
    font-weight: bold;
    border-radius: 20px;
    border: 2px solid;
    padding: 10px;
    margin: 10px auto;
    width: 80%;
    background: linear-gradient(to bottom, #000000, #ffffff);
}

.roja {
    border-color: red;
    color: lightcoral;
}

.verde {
    border-color: rgb(0, 255, 0);
    color: lightgreen;
}

.azul {
    border-color: blue;
    color: lightblue;
}
